body {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: repeat(12, 1fr);
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    background: #dfae8b;
    /* text-align: center; */
}

h1 {
    font-family: 'Cairo', sans-serif;
    font-weight: lighter;
    font-size: 2em;
    margin: 0;
    text-align: center;
    padding: 0.3em;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 1em;
    color: #dfae8b;

}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 13;
}

a {
    text-decoration: none;
    color: inherit;
}
.nav {
    grid-row: 2/3;
    grid-column: 1 / span 13;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: row 1;
    border-style: solid none solid none;
    border-width: thin;
    grid-gap: 15px;
    margin-bottom: 5%;
}

.nav a {
    text-decoration: none;
    color: black;
    /* position: center; */

}

.nav1 {
    background-color: #dfae8b;
    grid-column: 3 / span 1;
    grid-row: 1;
    width: 100%;
    text-align: left;
}

/* .nav1:hover {
    background-color: #F1F1F1;
    color: #265b5f;
    font-weight: bold;
} */

.nav2 {
    background-color: #dfae8b;
    grid-column: 4 / span 2;
    grid-row: 1;
    width: 100%;
    text-align: left;

}


img {
    width: 90%;
    height: auto;
    max-height: 450px;
    margin: 0 5%;
}

.bio {
    grid-row: 2/5;
    grid-column: 4 / span 12;
    /* display: flex;
    justify-content: space-around; */
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-top: 3em;
    padding-left: 0.5em;
}


.sidebar {
    grid-template-columns: repeat(12, 1 fr);
    grid-template-rows: 10;
    grid-column:  10/ 13;
    grid-row: 3;
    padding: none;
}

.selfie {
    border: 2px black solid;
    width: 175px;
    height: 125px;
}

.bio p {
    width: 70%;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.bio h2 {
    text-align: left;
}
a:hover {
    color: #265b5f;
    font-weight: bold;
}

footer {
    display: grid;
    grid-row: 5 / 6;
    grid-column: 1 / span 13;
    background-color: #4F4D4E;
    text-align: center;
    /* padding-top: 5px; */

}

footer a {
    text-decoration: none;
}


.b1 span h3:hover {
    /* background: white; */
    /* color: #265b5f; */
    font-weight: bold;

}



#ig-icon,
#ig-icon ~ span {
    display: inline-block;

}

@media only screen and (max-width: 769px) {

    body {
        display: grid;
        grid-template-rows: 5;
        grid-template-columns: repeat(12, 1fr);
    }

    h1 {
        font-family: 'Cairo', sans-serif;
        font-weight: lighter;
        font-size: 1.5em;
    }

    .bio {
        flex-direction: column;
        padding: 25px 0;
    }

    .selfie {
        margin: 15px;
    }

    .bio p {
        margin: 25px;
    }

}
